{% macro hb_profile_url(acc_name, size='40') -%}
{% if acc_name == '' %}
{{ url_for('static', filename='unknown.jpg') }}
{% else %}
https://api.v4v.app/v1/hive/avatar/{{ acc_name }}
{% endif %}
{%- endmacro %}

<!-- https://images.hive.blog/u/{{ acc_name }}/avatar?width={{ size }}&height={{ size }} -->
{% macro hb_profile_image(acc_name, size='2rem') -%}
{% if not acc_name %}
<img style="height: {{ size }}; width: {{ size }}" src="{{ url_for('static', filename='unknown.jpg') }}">
{% else %}
<img style="height: {{ size }}; width: {{ size }}" src="{{ hb_profile_url(acc_name)|safe }}">
{% endif %}
{%- endmacro %}

{% macro v4v_lightning_qr(acc_name, size='2rem') -%}
{% if not acc_name %}
<img style="height: {{ size }}; width: {{ size }}" src="{{ url_for('static', filename='unknown.jpg') }}">
{% else %}
<img style="height: {{ size }}; width: {{ size }}" src="https://v4v.app/p/{{ acc_name }}.png">
{% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
  <title>Flask Blog - {{ title }}</title>
  {% else %}
  <title>Flask Blog</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Hive Demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
          {% if current_user.is_authenticated %}
          <div class="d-flex flex-row-reverse">
            <img src={{ hb_profile_url(current_user.name, size='30' ) }} alt="Logo" width="30" height="30"
              class="d-inline-block align-text-center">
            <!-- {{ hb_profile_image(current_user.name, size='30') }} -->
            <!-- src="https://images.hive.blog/u/brianoflondon/avatar?width=30&height=30" -->
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <div>
            <div style="margin: auto;">
              {{ v4v_lightning_qr(current_user.name, size='100%') }}
            </div>
          </div>
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </main>

  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>

</html>