{% extends "layout.html" %}
{% block content %}
<div class="content-section">

    <!-- Adding the Hive Keychain section  -->
    <fieldset class="form-group form-inline">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        <div class="container p-3">
            <h2>The Steps:</h2>
            <li>Install the KeyChain browser extension (<a
                    href="https://chrome.google.com/webstore/detail/hive-keychain/jcacnejopjdphbnjgfaaobbfafkihpep">Chrome</a>
                or <a href="https://addons.mozilla.org/en-US/firefox/addon/hive-keychain/">Firefox</a>)</li>
            <li><a href="https://hiveonboard.com/create-account?ref=brianoflondon" target="_blank"
                    rel="noopener noreferrer">Get a Hive Account from HiveOnboard.</a></li>
            <li>Put your Hive Username in here:</li>
        </div>

        <div class="input-group mb-3 p-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            {% if form.acc_name.errors %}
            {{ form.acc_name(class="input-group-text is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.acc_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            <input class="form-control" list="datalistOptions" id="acc_name" placeholder="Hive User...">
            <datalist id="datalistOptions"></datalist>
            {% endif %}
        </div>
        <div id="match-list" class="autocomplete"></div>
        <button class="btn btn-primary mb-3 p2" id="Check Keychain" name="check-keychain"
            onClick="hiveKeychainSign()">Hive KeyChain Login</button>
    </fieldset>
    <!-- Adding the Hive Keychain section  -->

</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign Up Now</a>
    </small>
</div>



<!-- Hive Keychain javascript part -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function hiveKeychainSign() {
        let name = document.querySelector("#acc_name").value;
        console.log(name);
        const keychain = window.hive_keychain;
        if (!name) {
            // need a name
            console.log('need a name');
            return
        }
        const signedMessageObj = { type: 'login', address: name, page: window.location.href };
        const messageObj = { signed_message: signedMessageObj, timestamp: parseInt(new Date().getTime() / 1000, 10) };
        keychain.requestSignBuffer(name, JSON.stringify(messageObj), 'Posting', (response) => {
            if (!response.success) { return; }
            //Successfully logged in
            console.log(response);
            //We added stuff here
            axios.post("/hive/login", response).then((res) => {
                console.log(res)
                let data = res.data;
                //You'd probably want to give the url back in as a json.
                //Whatever you send back will be save in data. Here' i'm assuming the format
                //data = {podcaster : "https://google.com"}
                window.location.href = `${data.loadPage}`;
            }).catch((err) => {
                console.log(err);
                //Deal with any error here
            })
        });
    };
</script>
<!-- Hive Keychain javascript part -->

<!-- Autocomplete for Hive usernames -->
<script>
    const search = document.getElementById('acc_name');
    const matchlist = document.getElementById('match-list');

    search.addEventListener('input', () => searchHiveNames(search.value));

    // search Hive api and filter

    const searchHiveNames = async searchText => {
        console.log(searchText)
        const res = await fetch("https://api.hive.blog", {
            body: `{"jsonrpc":"2.0", "method":"database_api.list_accounts", "params": {"start":"${searchText}", "limit":3, "order":"by_name"}, "id":1}`,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            method: "POST"
        });
        var rawData = await res.json();
        var accNames = rawData.result.accounts;
        if (searchText.length === 0) {
            accNames = [];
            matchlist.innerHTML = '';
        };
        console.log(accNames);
        // outpuHtml(accNames);
        outputDatalist(accNames);
    };

    const outpuHtml = accNames => {
        if (accNames.length > 0) {
            const html = accNames.map(accName => `
        <div class="card card-body mb-1" id="choice-${accName.id}">
            <a href="#">${accName.name}</a>
        </div>
        `).join('');
            matchlist.innerHTML = html;
        }
    }

    const outputDatalist = accNames => {
        if (accNames.length > 0) {
            const html = accNames.map(accName => `
            <option value="${accName.name}">
        `).join('');
            datalistOptions.innerHTML = html;
        }
    }

</script>


{% endblock content %}